<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmations</title>
</head>
<body>
    <h1>You adopted: </h1>
    <h2>Pet: <%= details.pet_type %></h2>
    <h2>Quantity: <%= details.quantity %></h2>
    <h2>Color: <%= details.color %></h2>
</body>
</html>